services:
  mysql:
    image: mysql:8.0
    ports:
      - "3306:3306"
    environment:
      MYSQL_ROOT_PASSWORD: password
      MYSQL_DATABASE: ry-vue
    volumes:
      - ./pm-sql/init/:/docker-entrypoint-initdb.d
      - mysql-data:/var/lib/mysql
    command: --character-set-server=utf8mb4 --collation-server=utf8mb4_unicode_ci --character-set-client-handshake=FALSE --init-connect='SET NAMES utf8mb4'

  redis:
    image: redis:7
    ports:
      - "6379:6379"

volumes:
  mysql-data:
