<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.project.mapper.AttachmentLogMapper">

    <resultMap type="AttachmentLog" id="AttachmentLogResult">
        <result property="logId"    column="log_id"    />
        <result property="attachmentId"    column="attachment_id"    />
        <result property="fileOriginalName"    column="file_original_name"    />
        <result property="businessType"    column="business_type"    />
        <result property="businessId"    column="business_id"    />
        <result property="documentType"    column="document_type"    />
        <result property="operationType"    column="operation_type"    />
        <result property="operationDesc"    column="operation_desc"    />
        <result property="operationUserId"    column="operation_user_id"    />
        <result property="operationUserName"    column="operation_user_name"    />
        <result property="operationIp"    column="operation_ip"    />
        <result property="operationTime"    column="operation_time"    />
        <result property="remark"    column="remark"    />
    </resultMap>

    <sql id="selectAttachmentLogVo">
        select log_id, attachment_id, file_original_name, business_type, business_id, document_type, operation_type, operation_desc, operation_user_id, operation_user_name, operation_ip, operation_time, remark from pm_attachment_log
    </sql>

    <select id="selectAttachmentLogList" parameterType="AttachmentLog" resultMap="AttachmentLogResult">
        <include refid="selectAttachmentLogVo"/>
        <where>
            <if test="attachmentId != null "> and attachment_id = #{attachmentId}</if>
            <if test="businessType != null and businessType != ''"> and business_type = #{businessType}</if>
            <if test="businessId != null "> and business_id = #{businessId}</if>
            <if test="operationType != null  and operationType != ''"> and operation_type = #{operationType}</if>
        </where>
        order by operation_time desc
    </select>

    <insert id="insertAttachmentLog" parameterType="AttachmentLog">
        insert into pm_attachment_log
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="attachmentId != null">attachment_id,</if>
            <if test="fileOriginalName != null">file_original_name,</if>
            <if test="businessType != null">business_type,</if>
            <if test="businessId != null">business_id,</if>
            <if test="documentType != null">document_type,</if>
            <if test="operationType != null and operationType != ''">operation_type,</if>
            <if test="operationDesc != null">operation_desc,</if>
            <if test="operationUserId != null">operation_user_id,</if>
            <if test="operationUserName != null">operation_user_name,</if>
            <if test="operationIp != null">operation_ip,</if>
            <if test="operationTime != null">operation_time,</if>
            <if test="remark != null">remark,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="attachmentId != null">#{attachmentId},</if>
            <if test="fileOriginalName != null">#{fileOriginalName},</if>
            <if test="businessType != null">#{businessType},</if>
            <if test="businessId != null">#{businessId},</if>
            <if test="documentType != null">#{documentType},</if>
            <if test="operationType != null and operationType != ''">#{operationType},</if>
            <if test="operationDesc != null">#{operationDesc},</if>
            <if test="operationUserId != null">#{operationUserId},</if>
            <if test="operationUserName != null">#{operationUserName},</if>
            <if test="operationIp != null">#{operationIp},</if>
            <if test="operationTime != null">#{operationTime},</if>
            <if test="remark != null">#{remark},</if>
         </trim>
    </insert>

</mapper>
