<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.project.mapper.CustomerContactMapper">
    
    <resultMap type="CustomerContact" id="CustomerContactResult">
        <result property="contactId"    column="contact_id"    />
        <result property="customerId"    column="customer_id"    />
        <result property="contactName"    column="contact_name"    />
        <result property="contactPhone"    column="contact_phone"    />
        <result property="contactTag"    column="contact_tag"    />
        <result property="delFlag"    column="del_flag"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
    </resultMap>

    <sql id="selectCustomerContactVo">
        select contact_id, customer_id, contact_name, contact_phone, contact_tag, del_flag, create_by, create_time, update_by, update_time, remark from pm_customer_contact
    </sql>

    <select id="selectCustomerContactList" parameterType="CustomerContact" resultMap="CustomerContactResult">
        <include refid="selectCustomerContactVo"/>
        <where>  
            <if test="customerId != null "> and customer_id = #{customerId}</if>
            <if test="contactName != null  and contactName != ''"> and contact_name like concat('%', #{contactName}, '%')</if>
            <if test="contactPhone != null  and contactPhone != ''"> and contact_phone like concat('%', #{contactPhone}, '%')</if>
            <if test="contactTag != null  and contactTag != ''"> and contact_tag = #{contactTag}</if>
        </where>
    </select>
    
    <select id="selectCustomerContactByContactId" parameterType="Long" resultMap="CustomerContactResult">
        <include refid="selectCustomerContactVo"/>
        where contact_id = #{contactId}
    </select>

    <insert id="insertCustomerContact" parameterType="CustomerContact" useGeneratedKeys="true" keyProperty="contactId">
        insert into pm_customer_contact
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="customerId != null">customer_id,</if>
            <if test="contactName != null and contactName != ''">contact_name,</if>
            <if test="contactPhone != null and contactPhone != ''">contact_phone,</if>
            <if test="contactTag != null and contactTag != ''">contact_tag,</if>
            <if test="delFlag != null">del_flag,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="customerId != null">#{customerId},</if>
            <if test="contactName != null and contactName != ''">#{contactName},</if>
            <if test="contactPhone != null and contactPhone != ''">#{contactPhone},</if>
            <if test="contactTag != null and contactTag != ''">#{contactTag},</if>
            <if test="delFlag != null">#{delFlag},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
         </trim>
    </insert>

    <update id="updateCustomerContact" parameterType="CustomerContact">
        update pm_customer_contact
        <trim prefix="SET" suffixOverrides=",">
            <if test="customerId != null">customer_id = #{customerId},</if>
            <if test="contactName != null and contactName != ''">contact_name = #{contactName},</if>
            <if test="contactPhone != null and contactPhone != ''">contact_phone = #{contactPhone},</if>
            <if test="contactTag != null and contactTag != ''">contact_tag = #{contactTag},</if>
            <if test="delFlag != null">del_flag = #{delFlag},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where contact_id = #{contactId}
    </update>

    <delete id="deleteCustomerContactByContactId" parameterType="Long">
        delete from pm_customer_contact where contact_id = #{contactId}
    </delete>

    <delete id="deleteCustomerContactByContactIds" parameterType="String">
        delete from pm_customer_contact where contact_id in
        <foreach item="contactId" collection="array" open="(" separator="," close=")">
            #{contactId}
        </foreach>
    </delete>

    <delete id="deleteCustomerContactByCustomerId" parameterType="Long">
        delete from pm_customer_contact where customer_id = #{customerId}
    </delete>
</mapper>