<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.project.mapper.ProjectApprovalMapper">
    
    <resultMap type="ProjectApproval" id="ProjectApprovalResult">
        <result property="approvalId"    column="approval_id"    />
        <result property="projectId"    column="project_id"    />
        <result property="approvalStatus"    column="approval_status"    />
        <result property="approvalReason"    column="approval_reason"    />
        <result property="approverId"    column="approver_id"    />
        <result property="approvalTime"    column="approval_time"    />
        <result property="delFlag"    column="del_flag"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
    </resultMap>

    <sql id="selectProjectApprovalVo">
        select approval_id, project_id, approval_status, approval_reason, approver_id, approval_time, del_flag, create_by, create_time, update_by, update_time, remark from pm_project_approval
    </sql>

    <select id="selectProjectApprovalList" parameterType="ProjectApproval" resultMap="ProjectApprovalResult">
        <include refid="selectProjectApprovalVo"/>
        <where>  
            <if test="projectId != null "> and project_id = #{projectId}</if>
            <if test="approvalStatus != null  and approvalStatus != ''"> and approval_status = #{approvalStatus}</if>
            <if test="approvalReason != null  and approvalReason != ''"> and approval_reason = #{approvalReason}</if>
            <if test="approverId != null "> and approver_id = #{approverId}</if>
            <if test="approvalTime != null "> and approval_time = #{approvalTime}</if>
        </where>
    </select>
    
    <select id="selectProjectApprovalByApprovalId" parameterType="Long" resultMap="ProjectApprovalResult">
        <include refid="selectProjectApprovalVo"/>
        where approval_id = #{approvalId}
    </select>

    <insert id="insertProjectApproval" parameterType="ProjectApproval" useGeneratedKeys="true" keyProperty="approvalId">
        insert into pm_project_approval
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="projectId != null">project_id,</if>
            <if test="approvalStatus != null and approvalStatus != ''">approval_status,</if>
            <if test="approvalReason != null">approval_reason,</if>
            <if test="approverId != null">approver_id,</if>
            <if test="approvalTime != null">approval_time,</if>
            <if test="delFlag != null">del_flag,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="projectId != null">#{projectId},</if>
            <if test="approvalStatus != null and approvalStatus != ''">#{approvalStatus},</if>
            <if test="approvalReason != null">#{approvalReason},</if>
            <if test="approverId != null">#{approverId},</if>
            <if test="approvalTime != null">#{approvalTime},</if>
            <if test="delFlag != null">#{delFlag},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
         </trim>
    </insert>

    <update id="updateProjectApproval" parameterType="ProjectApproval">
        update pm_project_approval
        <trim prefix="SET" suffixOverrides=",">
            <if test="projectId != null">project_id = #{projectId},</if>
            <if test="approvalStatus != null and approvalStatus != ''">approval_status = #{approvalStatus},</if>
            <if test="approvalReason != null">approval_reason = #{approvalReason},</if>
            <if test="approverId != null">approver_id = #{approverId},</if>
            <if test="approvalTime != null">approval_time = #{approvalTime},</if>
            <if test="delFlag != null">del_flag = #{delFlag},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where approval_id = #{approvalId}
    </update>

    <delete id="deleteProjectApprovalByApprovalId" parameterType="Long">
        delete from pm_project_approval where approval_id = #{approvalId}
    </delete>

    <delete id="deleteProjectApprovalByApprovalIds" parameterType="String">
        delete from pm_project_approval where approval_id in 
        <foreach item="approvalId" collection="array" open="(" separator="," close=")">
            #{approvalId}
        </foreach>
    </delete>
</mapper>