<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.project.mapper.ProjectManagerChangeMapper">
    
    <resultMap type="ProjectManagerChange" id="ProjectManagerChangeResult">
        <result property="changeId"    column="change_id"    />
        <result property="projectId"    column="project_id"    />
        <result property="oldManagerId"    column="old_manager_id"    />
        <result property="newManagerId"    column="new_manager_id"    />
        <result property="changeReason"    column="change_reason"    />
        <result property="delFlag"    column="del_flag"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
        <result property="projectName"    column="project_name"    />
        <result property="projectCode"    column="project_code"    />
        <result property="oldManagerName"    column="old_manager_name"    />
        <result property="newManagerName"    column="new_manager_name"    />
    </resultMap>

    <resultMap type="com.ruoyi.project.domain.vo.ProjectManagerChangeVO" id="ProjectManagerChangeVOResult">
        <result property="projectId"           column="project_id"           />
        <result property="projectName"         column="project_name"         />
        <result property="projectCode"         column="project_code"         />
        <result property="projectCreateTime"   column="project_create_time"  />
        <result property="currentManagerId"    column="current_manager_id"   />
        <result property="currentManagerName"  column="current_manager_name" />
        <result property="oldManagerId"        column="old_manager_id"       />
        <result property="oldManagerName"      column="old_manager_name"     />
        <result property="changeReason"        column="change_reason"        />
        <result property="changeBy"            column="change_by"            />
        <result property="changeByName"        column="change_by_name"       />
        <result property="changeTime"          column="change_time"          />
    </resultMap>

    <sql id="selectProjectManagerChangeVo">
        select
            pmc.change_id,
            pmc.project_id,
            pmc.old_manager_id,
            pmc.new_manager_id,
            pmc.change_reason,
            pmc.del_flag,
            pmc.create_by,
            pmc.create_time,
            pmc.update_by,
            pmc.update_time,
            pmc.remark,
            p.project_name,
            p.project_code,
            u1.nick_name as old_manager_name,
            u2.nick_name as new_manager_name
        from pm_project_manager_change pmc
        left join pm_project p on pmc.project_id = p.project_id
        left join sys_user u1 on pmc.old_manager_id = u1.user_id
        left join sys_user u2 on pmc.new_manager_id = u2.user_id
    </sql>

    <select id="selectProjectManagerChangeList" parameterType="ProjectManagerChange" resultMap="ProjectManagerChangeResult">
        <include refid="selectProjectManagerChangeVo"/>
        <where>
            <if test="projectId != null "> and pmc.project_id = #{projectId}</if>
            <if test="oldManagerId != null "> and pmc.old_manager_id = #{oldManagerId}</if>
            <if test="newManagerId != null "> and pmc.new_manager_id = #{newManagerId}</if>
            <if test="params.beginCreateTime != null and params.beginCreateTime != '' and params.endCreateTime != null and params.endCreateTime != ''"> and pmc.create_time between #{params.beginCreateTime} and #{params.endCreateTime}</if>
        </where>
        order by pmc.create_time desc
    </select>
    
    <select id="selectProjectManagerChangeByChangeId" parameterType="Long" resultMap="ProjectManagerChangeResult">
        <include refid="selectProjectManagerChangeVo"/>
        where pmc.change_id = #{changeId}
    </select>

    <insert id="insertProjectManagerChange" parameterType="ProjectManagerChange" useGeneratedKeys="true" keyProperty="changeId">
        insert into pm_project_manager_change
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="projectId != null">project_id,</if>
            <if test="oldManagerId != null">old_manager_id,</if>
            <if test="newManagerId != null">new_manager_id,</if>
            <if test="changeReason != null">change_reason,</if>
            <if test="delFlag != null">del_flag,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="projectId != null">#{projectId},</if>
            <if test="oldManagerId != null">#{oldManagerId},</if>
            <if test="newManagerId != null">#{newManagerId},</if>
            <if test="changeReason != null">#{changeReason},</if>
            <if test="delFlag != null">#{delFlag},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
         </trim>
    </insert>

    <update id="updateProjectManagerChange" parameterType="ProjectManagerChange">
        update pm_project_manager_change
        <trim prefix="SET" suffixOverrides=",">
            <if test="projectId != null">project_id = #{projectId},</if>
            <if test="oldManagerId != null">old_manager_id = #{oldManagerId},</if>
            <if test="newManagerId != null">new_manager_id = #{newManagerId},</if>
            <if test="changeReason != null">change_reason = #{changeReason},</if>
            <if test="delFlag != null">del_flag = #{delFlag},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where change_id = #{changeId}
    </update>

    <delete id="deleteProjectManagerChangeByChangeId" parameterType="Long">
        delete from pm_project_manager_change where change_id = #{changeId}
    </delete>

    <delete id="deleteProjectManagerChangeByChangeIds" parameterType="String">
        delete from pm_project_manager_change where change_id in
        <foreach item="changeId" collection="array" open="(" separator="," close=")">
            #{changeId}
        </foreach>
    </delete>

    <!-- 查询项目列表（带最新变更信息） -->
    <select id="selectProjectListWithLatestChange" parameterType="com.ruoyi.project.domain.vo.ProjectManagerChangeVO" resultMap="ProjectManagerChangeVOResult">
        SELECT
            p.project_id,
            p.project_name,
            p.project_code,
            p.create_time as project_create_time,
            p.project_manager_id as current_manager_id,
            u_current.nick_name as current_manager_name,
            latest_change.old_manager_id,
            u_old.nick_name as old_manager_name,
            latest_change.change_reason,
            latest_change.create_by as change_by,
            u_changer.nick_name as change_by_name,
            latest_change.create_time as change_time
        FROM pm_project p
        LEFT JOIN (
            SELECT c1.*
            FROM pm_project_manager_change c1
            INNER JOIN (
                SELECT project_id, MAX(create_time) as max_time
                FROM pm_project_manager_change
                WHERE del_flag = '0'
                GROUP BY project_id
            ) c2 ON c1.project_id = c2.project_id
                AND c1.create_time = c2.max_time
            WHERE c1.del_flag = '0'
        ) latest_change ON p.project_id = latest_change.project_id
        LEFT JOIN sys_user u_current ON p.project_manager_id = u_current.user_id
        LEFT JOIN sys_user u_old ON latest_change.old_manager_id = u_old.user_id
        LEFT JOIN sys_user u_changer ON latest_change.create_by = u_changer.user_name
        WHERE p.del_flag = '0'
        <if test="projectId != null">
            AND p.project_id = #{projectId}
        </if>
        <if test="projectName != null and projectName != ''">
            AND p.project_name LIKE CONCAT('%', #{projectName}, '%')
        </if>
        <if test="currentManagerId != null">
            AND p.project_manager_id = #{currentManagerId}
        </if>
        <if test="changeTime != null">
            AND latest_change.create_time BETWEEN #{params.beginChangeTime} AND #{params.endChangeTime}
        </if>
        ORDER BY p.create_time DESC
    </select>

    <!-- 查询项目的完整变更历史 -->
    <select id="selectProjectChangeHistory" resultMap="ProjectManagerChangeResult">
        <include refid="selectProjectManagerChangeVo"/>
        WHERE pmc.project_id = #{projectId}
        AND pmc.del_flag = '0'
        ORDER BY pmc.create_time DESC
    </select>
</mapper>