<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.project.mapper.ProjectContractRelMapper">

    <resultMap type="ProjectContractRel" id="ProjectContractRelResult">
        <result property="relId"    column="rel_id"    />
        <result property="projectId"    column="project_id"    />
        <result property="contractId"    column="contract_id"    />
        <result property="relStatus"    column="rel_status"    />
        <result property="bindDate"    column="bind_date"    />
        <result property="delFlag"    column="del_flag"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
    </resultMap>

    <sql id="selectProjectContractRelVo">
        select rel_id, project_id, contract_id, rel_status, bind_date, del_flag, create_by, create_time, update_by, update_time, remark from pm_project_contract_rel
    </sql>

    <select id="selectProjectContractRelList" parameterType="ProjectContractRel" resultMap="ProjectContractRelResult">
        <include refid="selectProjectContractRelVo"/>
        <where>
            and del_flag = '0'
            <if test="projectId != null  and projectId != ''"> and project_id = #{projectId}</if>
            <if test="contractId != null "> and contract_id = #{contractId}</if>
            <if test="relType != null  and relType != ''"> and rel_type = #{relType}</if>
            <if test="isMain != null  and isMain != ''"> and is_main = #{isMain}</if>
            <if test="relStatus != null  and relStatus != ''"> and rel_status = #{relStatus}</if>
        </where>
    </select>

    <select id="selectProjectIdsByContractId" parameterType="Long" resultType="Long">
        select project_id from pm_project_contract_rel
        where contract_id = #{contractId} and del_flag = '0'
    </select>

    <insert id="insertProjectContractRel" parameterType="ProjectContractRel">
        insert into pm_project_contract_rel
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="relId != null">rel_id,</if>
            <if test="projectId != null and projectId != ''">project_id,</if>
            <if test="contractId != null">contract_id,</if>
            <if test="relStatus != null">rel_status,</if>
            <if test="bindDate != null">bind_date,</if>
            <if test="delFlag != null">del_flag,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="relId != null">#{relId},</if>
            <if test="projectId != null and projectId != ''">#{projectId},</if>
            <if test="contractId != null">#{contractId},</if>
            <if test="relStatus != null">#{relStatus},</if>
            <if test="bindDate != null">#{bindDate},</if>
            <if test="delFlag != null">#{delFlag},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
         </trim>
    </insert>

    <delete id="deleteProjectContractRelByContractId" parameterType="Long">
        delete from pm_project_contract_rel where contract_id = #{contractId}
    </delete>

</mapper>
