<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.project.mapper.SecondaryRegionMapper">
    
    <resultMap type="SecondaryRegion" id="SecondaryRegionResult">
        <result property="provinceId"    column="province_id"    />
        <result property="provinceCode"    column="province_code"    />
        <result property="provinceName"    column="province_name"    />
        <result property="provinceType"    column="province_type"    />
        <result property="regionDictValue"    column="region_dict_value"    />
        <result property="sortOrder"    column="sort_order"    />
        <result property="status"    column="status"    />
        <result property="delFlag"    column="del_flag"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
    </resultMap>

    <sql id="selectSecondaryRegionVo">
        select province_id, province_code, province_name, province_type, region_dict_value, sort_order, status, del_flag, create_by, create_time, update_by, update_time, remark from pm_secondary_region
    </sql>

    <select id="selectSecondaryRegionList" parameterType="SecondaryRegion" resultMap="SecondaryRegionResult">
        <include refid="selectSecondaryRegionVo"/>
        <where>  
            <if test="provinceCode != null  and provinceCode != ''"> and province_code = #{provinceCode}</if>
            <if test="provinceName != null  and provinceName != ''"> and province_name like concat('%', #{provinceName}, '%')</if>
            <if test="provinceType != null  and provinceType != ''"> and province_type = #{provinceType}</if>
            <if test="regionDictValue != null  and regionDictValue != ''"> and region_dict_value = #{regionDictValue}</if>
            <if test="status != null  and status != ''"> and status = #{status}</if>
        </where>
    </select>
    
    <select id="selectSecondaryRegionByProvinceId" parameterType="Long" resultMap="SecondaryRegionResult">
        <include refid="selectSecondaryRegionVo"/>
        where province_id = #{provinceId}
    </select>

    <insert id="insertSecondaryRegion" parameterType="SecondaryRegion" useGeneratedKeys="true" keyProperty="provinceId">
        insert into pm_secondary_region
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="provinceCode != null and provinceCode != ''">province_code,</if>
            <if test="provinceName != null and provinceName != ''">province_name,</if>
            <if test="provinceType != null">province_type,</if>
            <if test="regionDictValue != null and regionDictValue != ''">region_dict_value,</if>
            <if test="sortOrder != null">sort_order,</if>
            <if test="status != null">status,</if>
            <if test="delFlag != null">del_flag,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="provinceCode != null and provinceCode != ''">#{provinceCode},</if>
            <if test="provinceName != null and provinceName != ''">#{provinceName},</if>
            <if test="provinceType != null">#{provinceType},</if>
            <if test="regionDictValue != null and regionDictValue != ''">#{regionDictValue},</if>
            <if test="sortOrder != null">#{sortOrder},</if>
            <if test="status != null">#{status},</if>
            <if test="delFlag != null">#{delFlag},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
         </trim>
    </insert>

    <update id="updateSecondaryRegion" parameterType="SecondaryRegion">
        update pm_secondary_region
        <trim prefix="SET" suffixOverrides=",">
            <if test="provinceCode != null and provinceCode != ''">province_code = #{provinceCode},</if>
            <if test="provinceName != null and provinceName != ''">province_name = #{provinceName},</if>
            <if test="provinceType != null">province_type = #{provinceType},</if>
            <if test="regionDictValue != null and regionDictValue != ''">region_dict_value = #{regionDictValue},</if>
            <if test="sortOrder != null">sort_order = #{sortOrder},</if>
            <if test="status != null">status = #{status},</if>
            <if test="delFlag != null">del_flag = #{delFlag},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where province_id = #{provinceId}
    </update>

    <delete id="deleteSecondaryRegionByProvinceId" parameterType="Long">
        delete from pm_secondary_region where province_id = #{provinceId}
    </delete>

    <delete id="deleteSecondaryRegionByProvinceIds" parameterType="String">
        delete from pm_secondary_region where province_id in 
        <foreach item="provinceId" collection="array" open="(" separator="," close=")">
            #{provinceId}
        </foreach>
    </delete>
</mapper>